body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg, #3498db, #f7dc6f);
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 400px;
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.formulario h1 {
    text-align: center;
    padding: 20px 0 30px 0;

    margin-bottom: 40px;
    position: relative;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
}

.formulario h1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/design_04112025.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    opacity: 0.3;
    z-index: 3;
}

.formulario h2 {
    text-align: center;
    padding: 0 0 20px 0;
    color: #333;
}

.formulario form {
    padding: 0; 
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 30px;
}


.username input {
    width: 100%;
    padding: 10px 0;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #adadad;
    pointer-events: none;
    transition: 0.5s;
}

.username input:focus ~ label,
.username input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #bb8fce;
}

form .password {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 30px;
}
.password input {
    width: 100%;
    padding: 10px 0;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.password label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #adadad;
    pointer-events: none;
    transition: 0.5s;
}

.password input:focus ~ label,
.password input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #bb8fce;
}

.remember {
    margin: -5px 0 20px 5px;
    color:  #3498db;
    cursor: pointer;
}

.remember:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #bb8fce;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #3498db;
    transition: .5s;
}

.register {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #a6a6a6;
}

.register a {
    color: #bb8fce;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}