* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Courier New', Courier, monospace;
  }
  
  body {
    background: linear-gradient(330deg, #3498db, #f7dc6f);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  body::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/design_04112025.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #021623;
    color: #fff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 70px;
    margin-right: 10px;
  }
  
  .site-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logout-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #e68277;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
  }
  
  main h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  
  .level-buttons {
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .level-btn {
    display: inline-block;
    background-color: #bb8fce;
    color: white;
    font-size: 1.5rem;
    padding: 10rem 8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .level-btn:hover {
    background-color: #66b3e7;
  }

  .image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .image-button img {
    width: 60px;
    height: auto;
    pointer-events: auto;
  }
  

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {
    background: black;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }